<div class="wrapperfadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <!-- Icon -->
      <div class="fadeInfirst">
    </div><br><br>
    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"><br><br>
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password"><br><br>
      <button value="Log In">Login</button>
    </form><br>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div><br>
    <div id="formFooter" >
      <a class="underlineHover" href="#" style="color:rgb(241, 148, 41)">New User? Register here</a>
    </div>
  </div>
</div>    
<script type="text/javascript">
        </script>